<!DOCTYPE html>
<html>
	<head>
		<script>
		setTimeout(function() {
			window.top.location = "<?php echo $this->redirect ?>";
		}, 250);
		</script>
		
		<title>Adding to Cart...</title>
	</head>
	<body>
		<h2 style="font-family: Arial, Helvetica, sans-serif; font-size: 1.8em; color: #888"><?php echo $this->message ?></h2>
	</body>
</html>
